html,
body {
  margin: 0;
  padding: 0;

  background: black;

  font-family: "Barlow Semi Condensed";
  font-weight: 300;
  font-size: 20px;
  color: white;
}

.app {
  .timeline {
    position: relative;
    // width: 516870000px;

    .spans {
      position: relative;
      height: 400px;
      .span {
        position: absolute;
        top: 0;
        bottom: 0;
        min-width: 1px;

        background: hsl(255.9, 86.3%, 51.2%);
      }
    }
    .timestamps {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      .timestamp {
        padding: 1em;
        .date {
          font-size: 1.3em;
        }

        .time {
          font-size: 1.6em;
        }
      }
    }
  }
}
