$violet: hsl(245, 70%, 60%);

$text: lighten($violet, 30%);

html,
body {
  margin: 0;
  padding: 0;

  background: adjust-color($color: $violet, $saturation: -0%, $lightness: -0%);

  font-family: "Barlow Semi Condensed";
  font-weight: 300;
  font-size: 20px;
  color: $text;
}

.app {
  .timeline {
    position: relative;

    .spans {
      position: relative;
      height: 3em;
      margin: 1em 0;

      .span {
        position: absolute;
        top: 0;
        bottom: 0;
        min-width: 1px;

        background: url("https://i.imgur.com/MFT6PN3.png");
        background-size: auto 100%;
      }
    }
    .timestamps {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      .timestamp {
        padding: 1em;
        .date {
          font-size: 1.3em;
          color: darken($text, 5%);
        }

        .time {
          font-size: 1.8em;
          color: lighten($text, 5%);
        }
      }
    }
  }
}
