@import "event";

html,
body {
  margin: 0;
  padding: 0;

  background: black;

  font-family: "Barlow Semi Condensed";
  font-weight: 300;
  font-size: 20px;
  color: white;
}

.app {
  .timeline {
    position: relative;

    .events {
      .source {
        position: relative;
        height: 5em;
        margin: 0.3em 0;
        .event {
          @include event;
        }
      }
    }

    .timestamps {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      .timestamp {
        padding: 1em;
        .date {
          opacity: 0.9;
          font-size: 1.3em;
        }
        .time {
          opacity: 0.3;
          font-size: 2.2em;
          font-weight: 100;
        }
      }
    }
  }
}
