@mixin navigation($height) {

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: $z-level-navigation;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1em;
    height: $height;

    @include gradient-default($color-blue);
    @include box-shadow-large(darken($color-blue, 50%));
    @include text-color-pass-through(white);

    * { flex: 1; }

    .back .icon {
        margin-right: $spacing-text-icon;
        @include text-color-pass-through-extra(white);
    }

    .title {
        margin: 0;
        min-width: 5em;
        font-size: 1.3em;
        font-weight: bold;
        text-align: center;
    }

    .menu {
        text-align: right;
        @include text-color-pass-through-extra(white);
    }


}
