@mixin timeline-page {

    padding-top: $spacing-app-vertical-top;
    padding-bottom: $spacing-app-vertical-bottom;

    .event {

        margin: $spacing-panel-vertical $spacing-app-horizontal;

        &:first-of-type { margin-top: 0; }

        &.milestone {

        }

        &.step {
            @include panel;
            padding: $spacing-panel-vertical $spacing-panel-horizontal;
        }

    }

}
