@mixin user-page {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin:
        $spacing-app-vertical-top
        $spacing-app-horizontal
        $spacing-app-vertical-bottom
        $spacing-app-horizontal;

    padding-top: $spacing-panel-vertical;

    .user.profile {
        @include user-profile(6em);
        @include box-shadow-default($color-blue);
    }

    .name {
        margin-bottom: $spacing-panel-vertical;
        padding-top: $spacing-text-icon;
        font-size: 2.5em;
        font-weight: 200;
        color: $color-text-muted;
    }

    .contact {

        display: flex;
        flex-direction: column;

        .button {
            margin-top: $spacing-panel-vertical / 2;
            text-align: center;
        }

    }

}


@mixin user-small {

    display: flex;
    align-items: center;
    overflow: hidden;
    padding: $spacing-text-icon / 2;
    padding-right: $spacing-block-horizontal - $spacing-text-icon;

    border-radius: 5em;
    background: $color-background;

    * { position: relative; }

    .profile {
        z-index: 1;
        margin-right: $spacing-text-icon;
        @include user-profile(1.2em);
        @include box-shadow-default($color-blue);
    }

    .name {
        font-size: 0.8em;
        color: $color-text-muted;
    }

}


@mixin user-medium {

    display: flex;
    align-items: center;

    .profile {
        margin-right: $spacing-text-icon;
        @include user-profile(1.2em);
        @include box-shadow-default($color-blue);
    }

}


@mixin user-profile($size) {

    display: flex;
    align-items: center;
    justify-content: center;
    height: $size;
    width: $size;
    overflow: hidden;

    border-radius: 100%;
    background-size: cover;

    &.no-image {

        @include gradient-default-inverted($color-orange);

        .initials {
            opacity: 0.6;
            font-size: $size * 0.5;
            font-weight: bold;
            color: white;
        }

    }

}
